<!DOCTYPE html>
<header> 
  <ol>
    <span> Home </span>
    <span> About </span>
    <span> Services</span>
    <span> Contact </span>
  </ol>
</header>
<body>
  <div class="main">
    <h1> We Provide The Best IT Services </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quidem facilis, exercitationem molestiae quaerat expedita dolorum consequuntur unde nostrum minima iusto ipsum recusandae nulla ea, itaque non id qui quas? <a href=#>Know more...</a></p>
  </div>
    <div class="columns">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident sequi obcaecati pariatur. Delectus, eos laudantium similique exercitationem quos placeat pariatur optio voluptas quo accusantium itaque, error perspiciatis voluptatibus ducimus voluptatum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident sequi obcaecati pariatur. Delectus, eos laudantium similique exercitationem quos placeat pariatur optio voluptas quo accusantium itaque, error perspiciatis voluptatibus ducimus voluptatum!</p>
    <p>Unde voluptatem non vel voluptates, veritatis dolores inventore distinctio dolorem consequuntur, quod blanditiis, optio obcaecati! Veritatis dignissimos numquam quo soluta autem, neque nisi, sapiente ullam repellat perferendis, repellendus facilis tempore.Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident sequi obcaecati pariatur. Delectus, eos laudantium similique exercitationem quos placeat pariatur optio voluptas quo accusantium itaque, error perspiciatis voluptatibus ducimus voluptatum!</p>
    <p>Sit deleniti nobis cupiditate porro, eaque perspiciatis ipsum, alias cum veniam mollitia, ut quisquam voluptatem nesciunt accusamus ducimus architecto distinctio reprehenderit id commodi sunt doloribus aspernatur a? In, pariatur quod.Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident sequi obcaecati pariatur. Delectus, eos laudantium similique exercitationem quos placeat pariatur optio voluptas quo accusantium itaque, error perspiciatis voluptatibus ducimus voluptatum!</p>

     </div>

     <div class="footer">
    <ol>
        <span> Home </span>
        <span> About </span>
        <span> Contact </span>
      </ol>
      <ol>
        <span> Facebook </span>
        <span> Twitter </span>
        <span> Vimeo </span>
          
    </ol>
      

     </div>
     <hr>
     <div class="bottom">
       <h4>Antra Inc. 21355 Ridgetop Circle Suite 300 Dulles VA 20166</h4> 
       <h4>Phone: 703.994.4545 Fax: 703.373.2975 e-mail:hr@antra.net website: www.antra.net</h4>
     </div>



</body>
